<include file="Public/header" />

<div class="feeldesk">

    <header>

        <div class="menu-header">

            <a href="{:U('setting/index',['source'=>'set-window','system'=>$system])}" class="iconfont icon-back-left back"></a>

            <div class="header-title">{:L('MOD_PASSWORD')}</div>

            <a href="javascript:" class="header-right" id="submitForm">{:L('COMPLETE')}</a>

        </div>

    </header>

    <div class="feeldesk-main no-footer-main pd0">

        <form id='feeldeskForm' class="password-form">

            <div class="form-item">

                <input type="password" name="member[old]" class="form-input" placeholder="{:L('OLDER_PASSWORD')}"/>

            </div>

            <div class="form-item">

                <input type="password" name="member[new]" class="form-input" placeholder="{:L('NEW_PASSWORD')}"/>

            </div>

            <div class="form-item mb0">

                <input type="password" name="member[sure]" class="form-input" placeholder="{:L('CONFIRM_PASSWORD')}"/>

            </div>

        </form>

        <div class="password-note">{:L('CODE_NOTE')}</div>

    </div>

</div>

