<volist name="follow" id="vo">

	<div class="feelcrm-followlist">

		<img src="{$vo.member_face|default='/Attachs/face/face.png'}" class="follow-face fl" />

		<div class="feelcrm-followdetail fl">

			<eq name="followtype" value="customer">

				<span>{:L('FROM')} - </span>

				<gt name="vo.clue_id" value="0">

					<span class="blue8">{:L('CLUE')}</span>

					<else/>

					<gt name="vo.opportunity_id" value="0">

						<span class="blue8">{:L('OPPORTUNITY')}</span>

						<else/>

						<span class="blue8">{:L('CUSTOMER')}</span>

					</gt>

				</gt>

			</eq>

			<div class="feelcrm-followtit">

				<notempty name="vo.cmncate_name"><span class="blue8">{$vo.cmncate_name}&nbsp;&nbsp;</span></notempty>

				<span class="follow-time">{$vo.createtime|getDates}&nbsp;&nbsp;</span>

				<span class="blue8">{$vo.member_name} </span>{:L('GOT_ENGAGED')}

				<span class="blue8">{$vo.contacter_detail.name}</span>


				<notempty name="isCommentFollowAuth">

					<a href="javascript:" data-value="{$vo['follow_id']}" class="comment reply-comment fts13">

						<i class="iconfont icon-comment mr2"></i>

					</a>

				</notempty>

				<span class="follow-delete ">

					{:FEELCRM('Customer/edit_follow',['id'=>encrypt($vo['follow_id'],'FOLLOW'),'detailtype'=>encrypt('index',strtoupper($Think.CONTROLLER_NAME))],'','','','iconfont icon-bianji1')}

					{:FEELCRM('Customer/delete_follow',['id'=>encrypt($dataInfo[strtolower($Think.CONTROLLER_NAME).'_id'],strtoupper($Think.CONTROLLER_NAME)),'follow_id'=>encrypt($vo['follow_id'],'FOLLOW'),'detailtype'=>encrypt('index',strtoupper($Think.CONTROLLER_NAME))],'','','trash','iconfont icon-shanchu')}

				</span>

			</div>

			<div class="feelcrm-followcon textareaImg">

				{$vo.content|htmlspecialchars_decode}

				<notempty name="vo.createFiles">

					<div class="">{:L('ATTACHMENT')}：</div>

				</notempty>

				<volist name="vo.createFiles" id="v">

					<div class="gray3">

						<span >

							<in name="v.file_type" value="pdf,txt,doc,docx,xlsx,xls,jpeg,png,gif,jpg,ppt,pptx">

								<a class="cursor blue5" href="{:openFile($v['file_link'],$v['file_type'])}" target="_blank">{$v.file_name|getFileName}.{$v.file_type}</a>

							<else/>

								{$v.file_name|getFileName}.{$v.file_type}

							</in>

						</span>

						<span class="gray4"> ({$v.file_size|getFileSize})</span>

						<a href="{$v.file_link}" download="{$v.file_name}" title="{$v.file_name}" class="blue8"><i class="iconfont icon-xiazai fts20" style="vertical-align: top !important;"></i></a>

					</div>

				</volist>

				<div class="comments">

					<php>$j = 1</php>

					<volist name="vo.followComment" id="vc">

						<if condition="$vc['follow_id'] eq $vo['follow_id']">

							<div class="comment-item <gt name='j' value='3'>hidden</gt>">

								<img src="{$members[$vc['member_id']]['face']|default='/Attachs/face/face.png'}" class="face">

								<span class="comment-name">{$members[$vc['member_id']]['name']}</span>

								<span class="comment-content">：{$vc.content|getHtml}</span>

								<span class="comment-time">{$vc.createtime|formatTime}</span>

								{:FEELCRM('Customer/delete_comment',['id'=>encrypt($dataInfo[strtolower($Think.CONTROLLER_NAME).'_id'],strtoupper($Think.CONTROLLER_NAME)),'comment_id'=>encrypt($vc['comment_id'],'COMMENT'),'detailtype'=>encrypt('index',strtoupper($Think.CONTROLLER_NAME)),'sourcetype'=>strtolower($Think.CONTROLLER_NAME)],'','fr','trash','iconfont icon-shanchu')}

							</div>

							<php>$j++;</php>

						</if>

					</volist>

					<gt name='j' value='4'><div class="comment-more"><i class="iconfont icon-xiangxiajiantou"></i></div></gt>

				</div>

			</div>

			<!--<notempty name="vo.contacter_detail">

                <div class="feelcrm-follownexttime">{:L('CONTACT')}：{$vo.contacter_detail.name}</div>

            </notempty>

            <notempty name="vo.nextcontacttime">

                <div class="feelcrm-follownexttime">{:L('NEXT_CONTACT_TIME')}：{$vo.nextcontacttime|getDates}</div>

            </notempty>-->

		</div>

		<div class="clear"></div>

	</div>

</volist>