{:W('Menu/organize')}

<div class='global-loading'><i class='layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop'></i></div>

<div class="ticket-main-right">

    <iframe onload="hideRightLoading()" name="ticketRightMain" src="{:U('Index/member/index')}" frameborder="0" width="100%" height="100%" class="feeldesk-right"></iframe>

</div>

<div class="copyright">Copyright 2014@<a href="{:C('HTTP_LINK')}" target='_blank'>{:C('WEB_SOURCE')}</a>{:L('ALL_RIGHTS_RESERVED')}</div>
