{:W('Menu/ticket')}

<div class='global-loading'><i class='layui-icon layui-icon-loading layui-anim layui-anim-rotate layui-anim-loop'></i></div>

<div class="ticket-main-right">

	<iframe onload="hideRightLoading()" id='ticketRight' name="ticketRightMain" src="{$redirect_url}" frameborder="0" width="100%" height="100%" class="feeldesk-right"></iframe>

</div>

<div class="copyright">Copyright 2014@<a href="{:C('HTTP_LINK')}" target='_blank'>{:C('WEB_SOURCE')}</a>{:L('ALL_RIGHTS_RESERVED')}</div>
