<extend name="Public:base"/>

<block name="content">

    <div class="feeldesk-form pd0 ">

		<form action="{:U('customer/create_contacter',['id'=>encrypt($customer_id,'CUSTOMER'),'detailtype'=>encrypt($detailtype,'CUSTOMER'),'wechat'=>$wechat])}" class="layui-form" method="post" enctype="multipart/form-data">

        <div class="form-nav">

            <ul>

                <li><a href="javascript:" class="form-tab active">{:L('ADD_CUSTOMER_CONTACT')}</a></li>

				<notempty name="detailtype"><a href="javascript:history.go(-1);" class="feelcrm-cancleBtn fr mt5 mr30">{:l('CANCEL')}</a></notempty>

				<notempty name="wechat"><a href="javascript:closeLayerOpen();" class="feelcrm-cancleBtn fr mt5 mr30">{:l('CANCEL')}</a></notempty>

				<a href="javascript:void(0)" class="layui-btn layui-btn-normal feelcrm-commbtn fr mt5 mr10" id="submitForm">{:L('SUBMIT')}</a>

            </ul>

        </div>

        <div class="form-content pt50">
		<php>
			$t = 0;
			$ft = 0;
			$reg = 0;
		</php>


				 <div class="form-item pb50">

					<empty name="customer_id">

						<div class="layui-form-item">

							<label class="layui-form-label">

								<span class="red">*</span>

							   {:L('OWNED_CUSTOMER')}

							</label>

							<div class="layui-input-inline">

								<input type="radio" id="selectCustomerInput" class="layui-input" name="contacter[customer_id]" title="{:L('NO_CUSTOMER_SELECTED')}" checked value="" readonly />

								<div id="selectCustomer" class="feelcrm-commbtn" >{:L('SELECT_CUSTOMER')}</div>

							</div>

							<i class="layui-icon layui-icon-about intro-icon" data-note="{:L('ENTER_NAME_SEARCH')}"></i>

						</div>

						</empty>

						<notempty name="wechat">

							<input type="hidden" name="editContacterWechat" value="1" >

							<input type="hidden" name="contacter_edit[wechat]" value="{$wechat}" >

							<div class="layui-form-item wechatbox">

								<label class="layui-form-label">

									<span class="red">*</span>

								   {:L('SELECT_CONTACT')}

								</label>

								<div class="layui-input-inline">

									<select name="contacter_edit[contacter_id]" id="ContacterList" lay-filter="ContacterList" lay-ignore>

										<option value="">{:L('SELECT_CONTACT')}</option>


									</select>

									<script>

										$("#ContacterList").select2();

									</script>

								</div>


							</div>

							<div class="layui-form-item wechatbox">

								<label class="layui-form-label">


								</label>

								<div class="layui-input-inline">

									<a href="javascript:createNewcontacter();" class="layui-btn layui-btn-normal feelcrm-commbtn mt5 mr10">{:L('ADD_CONTACTS')}</a>

								</div>


							</div>

						</notempty>

                       <volist name="contacterform" id="vo">

					   <!-- 字段未设置查看范围或当前用户角色在查看范围内 -->
					   <if condition="!$vo['role_id'] || in_array($index['role_id'],explode(',',$vo['role_id']))">

                        <div class="layui-form-item contacterdefine <notempty name='wechat'>hidden</notempty>">

                            <label class="layui-form-label">

                                <eq name="vo.is_required" value="0"><span class="red">*</span> </eq>

                                {$vo.form_description}

                            </label>

							<eq name="vo.form_type" value="region">

								<php>
									$reg++;
								</php>

								{:W('Region/getRegion',['contacter_form',$vo['form_name'],$reg])}

							<else/>

                            <div class="layui-input-inline">

                                <eq name="vo.form_type" value="text">

                                    <!-- 单行文本框 -->

									<eq name="vo.form_name" value="wechat">

										<notempty name="wechat">

											<input type="text" name="contacter_form[{$vo.form_name}]" value="{$wechat}" readonly placeholder="" class="layui-input">

										<else/>

											<input type="text" name="contacter_form[{$vo.form_name}]" placeholder="" class="layui-input">

										</notempty>

									<else/>

										<input type="text" name="contacter_form[{$vo.form_name}]" placeholder="" class="layui-input">

									</eq>

                                </eq>

								 <eq name="vo.form_type" value="phone">

                                    <!-- {:L('CELL_PHONE')} -->
                                    <input type="text" onKeyPress="if (event.keyCode!=46 && event.keyCode!=45 && event.keyCode<48 || event.keyCode>57) event.returnValue=false" name="contacter_form[{$vo.form_name}]" placeholder="" class="layui-input">

                                </eq>

								 <eq name="vo.form_type" value="email">

                                    <!-- {:L('MAILBOX')} -->
                                    <input type="text" name="contacter_form[{$vo.form_name}]" placeholder="" class="layui-input">

                                </eq>

								 <eq name="vo.form_type" value="number">

                                    <!-- {:L('DIGITAL')} -->
                                    <input type="number" onKeyPress="if (event.keyCode!=46 && event.keyCode!=45 && event.keyCode<48 || event.keyCode>57) event.returnValue=false" name="contacter_form[{$vo.form_name}]" placeholder="" class="layui-input">

                                </eq>

								<eq name="vo.form_type" value="decimal">

                                    <!-- 小数 -->
                                    <input type="text" name="contacter_form[{$vo.form_name}]" placeholder="" class="layui-input">

                                </eq>

                                <eq name="vo.form_type" value="select">

                                    <!-- 下拉菜单 -->
                                    <select name="contacter_form[{$vo.form_name}]">

                                        <option value="">{$vo.form_description}</option>

                                        <foreach name="vo.option" item="op">

                                            <option value="{$op}">{$op}</option>

                                        </foreach>

                                    </select>

                                </eq>
								
								<eq name="vo.form_type" value="select_text">

                                    <php>
                                        $st++;
                                    </php>
                                    <!-- 下拉填写 -->
                                    {:W('Update/selectTextForm',['contacter',$vo,$st])}

                                </eq>

                                <!-- 时间控件 -->
                                <eq name="vo.form_type" value="date">

									<php>
										$ft++;
									</php>

                                    <input type='text' name="contacter_form[{$vo.form_name}]" class="layui-input cursor layui-form-time" id="form_time<php>echo $ft;</php>" placeholder="{:L('SELECT_TIME')}" >

                                </eq>

                                <eq name="vo.form_type" value="checkbox">

                                    <!-- 复选框 -->
                                    <volist name="vo.option" id="op">

                                        <input type="checkbox" name="contacter_form[{$vo.form_name}][]" lay-skin="primary" title="{$op}" value="{$op}">

                                    </volist>

                                </eq>

                                <eq name="vo.form_type" value="radio">

                                    <!-- 单选框-->
                                    <volist name="vo.option" id="op">

                                        <input type="radio" name="contacter_form[{$vo.form_name}]" value="{$op}" title="{$op}">

                                    </volist>

                                </eq>

                                <!-- 文本域 -->
                                <eq name="vo.form_type" value="textarea">

									<php>
										$t++
									</php>

                                    <textarea class="layui-textarea layui-hide ticket-textarea" name="contacter_form[{$vo.form_name}]" id="ticketEditor<php>echo $t;</php>"></textarea>

                                </eq>

                            </div>

							</eq>

                            <notempty name="vo.form_explain">

                                <i class="layui-icon layui-icon-about intro-icon" data-note="{$vo.form_explain}"></i>

                            </notempty>

                        </div>

					   </if>

                    </volist>

				</div>

        </div>

		</form>

    </div>

	<include file="Public/selectCustomer" />

    <include file="Public:language" />


    <script type="text/javascript">

        $("#choose").hide();

        layui.use('form',function()
        {
            var form = layui.form;

            form.on('select(form_type)', function(data)
            {
                var type = data.value;

                if(type == 'radio' || type == 'checkbox' || type == 'select')
                {
                    $("#choose").slideDown(300);
                }
                else
                {
                    $("#choose").slideUp(300);
                }
            });
        })

		function createNewcontacter()
		{
			$('input[name="editContacterWechat"]').val('0');

			$('.wechatbox').addClass('hidden');

			$('.contacterdefine').removeClass('hidden');
		}

    </script>

</block>
