<extend name="Public:common"/>

<block name="crumb1">{:L('SYSTEM')}</block>

<block name="content">

    <div class="feeldesk-form pd0">

        <div class="layui-tab">

			<form id="web_setting" action="{:U('communicate/edit_reply',['id'=>encrypt($cmncate_reply['reply_id'],'COMMUNICATE'),'cmncate_id'=>encrypt($cmncate_reply['cmncate_id'],'COMMUNICATE')])}" method="post" class="layui-form">

            <ul class="layui-tab-title">

                <li class="tab-title-name">{:L('ADD_COMMUNICATION_CONTENT')}</li>

				<li class="tab-title-btn">

					<a href="javascript:" id="submitForm" class="layui-btn layui-btn-normal titleSubmit">{:l('SUBMIT')}</a>

					<a href="javascript:closeLayerOpen();" class="layui-btn layui-btn-normal titleCancel">{:l('CANCEL')}</a>

					<div class="clear"></div>

				</li>

            </ul>

            <div class="layui-tab-content form-content pt50">

                <div class="layui-tab-item layui-show">

						<div class="form-item">

                            <div class="layui-form-item">

                                <label class="layui-form-label">{:L('TYPE')}</label>

								<div class="layui-input-inline">

									<input type="text" value="{$cmncate_name}"  placeholder="" disabled class="layui-input border-none" />

								</div>

                            </div>

                        </div>

                        <div class="form-item">

                            <div class="layui-form-item">

                                <label class="layui-form-label">{:L('CONTENT')}</label>

                                <div class="layui-input-inline">

									 <textarea class="layui-input" name="cmncatereply[reply_content]" >{$cmncate_reply.reply_content}</textarea>

                                </div>


                            </div>

                        </div>

                    <eq name="langAuth['en_auth']" value="10">

                        <div class="form-item">

                            <div class="layui-form-item">

                                <label class="layui-form-label">English content</label>

                                <div class="layui-input-inline">

                                    <textarea class="layui-input" name="cmncatereply[name_en]" >{$cmncate_reply.name_en}</textarea>

                                </div>

                            </div>

                        </div>

                    </eq>

                    <eq name="langAuth['jp_auth']" value="10">

                        <div class="form-item">

                            <div class="layui-form-item">

                                <label class="layui-form-label">日本語の内容</label>

                                <div class="layui-input-inline">

                                    <textarea class="layui-input" name="cmncatereply[name_jp]" >{$cmncate_reply.name_jp}</textarea>

                                </div>

                            </div>

                        </div>

                    </eq>

                </div>

            </div>

			</form>

        </div>



    </div>

    <script type="text/javascript" src="__PUBLIC__/js/submitform.js"></script>

    <include file="Public/footer" />

</block>
