@import "../../css/common.css";

.layui-form-select dl dd.layui-this {background-color: rgba(254,115,0,0.05);color: #40485b;}

::-webkit-scrollbar{width:5px;height:5px;}

::-webkit-scrollbar-button:vertical{display:none;}

::-webkit-scrollbar-track:vertical{background-color:black;}

::-webkit-scrollbar-track-piece{background-color:#fff;}

::-webkit-scrollbar-thumb:vertical{margin-right:10px; background-color:#cecece;border-radius: 3px;}

.icon-close1:hover{color:#2c6ee5 !important;}

/* 工单详情 */
.ticket-detail{position:fixed;top:0;left: 0;right:0;background: #fff;height: 100%;border-bottom:1px solid #e3e9ed}

.ticket-detail .ticket-read{display:inline-block;position: absolute;right:4px;top:-3px;z-index: 9;}

.ticket-detail .ticket-read i.icon-ticket-unread{color:#FF7A00;font-size: 30px;opacity: 1}

.ticket-detail .ticket-read i.icon-ticket-read{color:#12C8CC;font-size: 30px;opacity: 1}

.viewer-open .viewer-container{top:49px}

.ticket-detail .detail-sidebar{position: fixed;top: 0;left: 0;width: 20px;height: 100%;text-align: center;cursor:pointer;color:#999;z-index: 1;}

.ticket-detail .detail-sidebar:hover{color:#138df5}

.ticket-detail .detail-sidebar i{position: absolute;top:50%;right: 2px;}

.ticket-detail-content{position:relative;height:calc(100% - 60px);width:100%;overflow-x:hidden;padding: 0 20px}

.ticket-detail .detail-header{width:100%;background: #fff;line-height: 60px;}

.ticket-detail .detail-header>ul:first-child{border-bottom: 1px solid #dedede;}

.ticket-detail .detail-header li.info-icon:hover{background-color: #fff}

.ticket-detail .detail-header span.info-icon{cursor: pointer}

.ticket-detail .detail-header span.info-icon:hover{color:#23b7e5}

.detail-info,.detail-customer{border-bottom:1px solid #dedede;line-height: 60px;}

/* 状态与优先级 */
.ticket-detail .detail-header .status-item,
.ticket-detail .detail-header .priority-item,
.ticket-detail .detail-header .audit-item
{height: auto !important;min-width: 130px !important;}

.ticket-detail .detail-header .status-item dl.update-status,
.ticket-detail .detail-header .priority-item dl.update-priority,
.ticket-detail .detail-header .audit-item dl.update-audit
{position:initial;overflow-y:initial !important;overflow-x:initial !important;height: auto !important}

.ticket-detail .detail-header .status-item dl.update-status {overflow-x: hidden !important;overflow-y: auto !important;}

.ticket-detail .detail-header .status-item dl.update-status dd,
.ticket-detail .detail-header .priority-item dl.update-priority dd,
.ticket-detail .detail-header .audit-item dl.update-audit dd
{overflow:initial !important;padding: 0 10px}

.ticket-detail .detail-header li.select-status,
.ticket-detail .detail-header li.select-priority,
.ticket-detail .detail-header li.select-audit
{position: relative;border:1px dashed #d8d8d8;}

.ticket-detail .detail-header li.select-priority span.priority{width:10px !important;height:10px !important;;margin-right: 0 !important;margin-top: -1px !important;}

.ticket-detail .detail-header li.select-audit a.audit-detail{display: inline-block;color: #2c6ee5;padding-left: 5px;border-left: 1px solid #e3e9ed;
    height: 20px;line-height: 20px;margin-left: 5px;}

.ticket-detail .detail-header li.select-audit a.audit-detail i{font-size: 15px;margin-top: -1px}

.ticket-detail .detail-header li.select-audit a.audit-detail:hover{color:#2c6ee5}

/* 审核流程记录 */
.audit-progress{position: absolute;top:35px;left:0;box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.12);z-index: 100;background-color: #f5f5f7;
    text-align: left;font-family: 'PingFang-SC-Medium', serif;width:300px;height: 370px}

.audit-progress .progress-title{height: 40px;line-height: 40px;padding: 0 10px;font-size:12px;color:#333;background-color: #fff;}

.audit-progress .progress-title i.iconfont{color:#999;font-size:17px}

.audit-progress .progress-title i.iconfont:hover{color:#2c6ee5}

.audit-progress .ticket-auditor{height: 40px;line-height: 40px;background-color: #fff;padding-left:10px;border-top:1px solid #eee;}

.audit-progress .ticket-auditor a{display: inline-block;padding:0 10px;margin-left: 3px;border-left: 1px solid #eee;color:#2c6ee5;}

.audit-progress .ticket-auditor a:hover{color:#2c6ee5}

.audit-progress .ticket-auditor div.fr span:before{content:'、'}

.audit-progress .ticket-auditor div.fr span:first-child:before{content:''}

.audit-progress .progress-content{margin-top:5px;padding: 0 10px;background-color: #f5f5f7;height:255px;overflow-x: hidden}

.audit-progress .progress-content .opinion-title{text-align: center;height: 40px;line-height: 40px;color:#999}

.audit-progress .progress-content .progress-item{background-color: #fff;padding: 0 10px;margin-top: 20px;box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);}

.audit-progress .progress-content .progress-item .audit-level{background-color: #fff;height: 40px;line-height: 40px;border-bottom:1px solid #e3e9ed;color:#999}

.audit-progress .progress-content .progress-item .audit-content{padding: 5px 0}

.audit-progress .progress-content .progress-item .audit-content .audit-member{height: 30px;line-height: 30px;}

.audit-progress .progress-content .progress-item .audit-content .audit-member span{display:inline-block;color:#2c6ee5;margin-right: 5px;}

.audit-progress .progress-footer{position: absolute;bottom: 0;background: #f5f5f7;width: 100%;left: 0;padding-bottom: 0;
    height: 70px;line-height: 75px;text-align: center}

.audit-progress .progress-footer a{display:inline-block;padding: 0 10px;background-color: #2c6ee5;color:#fff;height: 35px;line-height: 35px;
    border-radius: 3px;min-width:80px;font-size: 13px}

.audit-progress .progress-footer a:hover{opacity: .8}

.audit-progress .progress-content .progress-no-data{text-align: center;padding: 20px 0}

.ticket-detail .detail-header .select-status .status-item,
.ticket-detail .detail-header .select-priority .priority-item,
.ticket-detail .detail-header .select-audit .audit-item
{position:absolute;top:35px;left:0;height:300px;margin-right: 0 !important;padding:10px 0;min-width:256px;
    text-align: left !important;background: #fff;border: 1px solid #e3e9ed;border-radius: 4px;
    box-shadow: 0 1px 40px 0 rgba(140,146,163,0.2),inset 0 0 0 0 #dededf !important;z-index: 1}

.ticket-detail .detail-header .select-audit i.icon-no-audit{color:#ffb517;font-size: 12px;margin-right: 4px;vertical-align: top !important;}

.ticket-detail .detail-header .select-audit i.icon-pass-audit{color:#10c6b3;font-size: 12px;margin-right: 4px;vertical-align: top !important;}

.ticket-detail .detail-header .select-audit i.icon-reject-audit{color:#ff3d3a;font-size: 12px;margin-right: 4px;vertical-align: top !important;}

.ticket-detail .detail-header .layui-form-select .layui-input{cursor:text;}

.ticket-detail .detail-header .layui-form-select dl{display: block !important;box-shadow:none;border:none;overflow-x: hidden;overflow-y: auto;height:230px}

.ticket-detail .detail-header .layui-form-select dl dd:hover{background-color: #f5f5f5}

.ticket-detail .detail-header .layui-edge{display: none !important;}

.ticket-detail .detail-header div.ticket-model,
.ticket-detail .detail-header li.ticket-status,
.detail-header li.ticket-priority,
.detail-header>ul>li,
.detail-customer ul li
{display: inline-block;margin-right: 4px;height:30px;line-height: 30px;text-align: center;}

.ticket-detail .detail-header .ticket-model{border:1px solid #5FB878;border-radius: 5px;color:#5FB878;padding: 0 5px;}

.ticket-detail .detail-header .ticket-status{padding: 0 5px;border:1px solid;border-radius: 5px;}

.ticket-detail .detail-header .ticket-priority{padding: 0 5px;border: 1px solid;border-radius: 5px;}

.ticket-detail .detail-header>ul>li,.detail-customer ul li{border:1px solid #d8d8d8;border-radius: 100px;padding: 0 10px;color:#40485b;cursor:pointer}

.ticket-detail .detail-header>ul>li:hover,.detail-customer ul li:hover{background-color: #fafafa}

.ticket-detail .detail-header>ul>li img{width:20px;border-radius: 50%;margin-right: 2px;margin-top: -2px;}

.ticket-detail .detail-header>ul>li.info-icon{position: absolute;top:13px;right: 20px;padding: 0}

.ticket-detail .detail-header>ul>li .icon-nothing{display: inline-block;font-size: 13px;margin-top: -1px}

.ticket-detail .detail-slide:after{padding: 20px 0}


/* 审核 - 弹窗 */
.ticket-audit{padding: 20px;}

.ticket-audit textarea{height: 200px;width: 100%;padding: 10px;resize: none}

.ticket-audit .audit-btn{width: 100%;height: 45px;line-height: 45px;text-align: center;cursor: pointer;color:#fff;font-size: 15px}

.ticket-audit .audit-btn:hover{opacity: .8}


/* 详情Tab */

.ticket-detail .detail-main{margin: 0;border: 0;border-radius: 0;padding:0;}

.ticket-detail .detail-main .layui-tab{margin-top: 0;border-bottom: 1px solid #dedede;}

.ticket-detail .detail-main .layui-tab-content{padding: 0 10px 10px 10px}

.ticket-detail .detail-main .layui-tab-title{margin-bottom: 10px;height: 50px}

.ticket-detail .detail-main .layui-tab-title li{min-width: 100px;line-height: 50px}

.ticket-detail .detail-main .layui-tab-title .layui-this{color:#2c6ee5}

.ticket-detail .detail-main .layui-tab-title .layui-this:after{border:none;border-bottom:3px solid #2c6ee5;height: 51px;}

.ticket-detail .detail-main .layui-tab .no-data{text-align: center;padding: 20px 0;color:#666}

.ticket-detail .detail-main .layui-tab .satisfy-btn{display:block;text-align: center;padding: 20px 0;color:#537c8d}

.ticket-detail .detail-main .layui-tab .layui-tab-bar{height: 45px;line-height: 45px;border:none;}

/* 详情Tab - 工单内容 */
.ticket-detail .detail-content .ticket-form{position: relative;font-size: 0;padding-top: 10px}

.ticket-detail .ticket-form .ticket-form-icon{position: absolute;top: 15px;right: -20px;font-size: 20px;cursor: pointer}

.ticket-detail .ticket-form .ticket-form-icon:hover{color:#23b7e5}

.ticket-detail .ticket-form-item{border:1px solid #ebebeb;margin-bottom: 20px;}

.ticket-detail .ticket-form-item .ticket-form-name{margin: 0 20px;line-height: 50px;font-size: 13px;color:#537c8d;border-bottom:1px dashed #ebebeb}

.ticket-detail .ticket-form-item .ticket-option-form{padding: 0 20px;line-height: 50px;font-size: 13px;color:#537c8d}

.ticket-detail .ticket-form-item .ticket-option-form .ticket-option-content{color:#333;font-weight: normal;}

.ticket-detail .ticket-form-item .text-form-content{min-height: 50px;padding: 15px 20px;font-size: 14px;color:#333;}

.ticket-detail .ticket-form-item .ticket-textarea-form{line-height: 30px;word-break: break-word}

.ticket-detail .ticket-form-item .ticket-textarea-form img{width:100%}

.ticket-detail .ticket-image{padding-top:10px;}

.ticket-detail .ticket-file{border-bottom:1px solid #dedede;color:#000;}

.ticket-detail .ticket-attach{line-height: 50px;padding-right: 20px;font-size: 15px;font-weight: normal !important;}

.ticket-detail .ticket-attach span{padding-right: 5px;vertical-align:middle;}

.ticket-detail .ticket-attach i.icon-zhankai,.ticket-attach i.icon-shouqi{color:#537c8d}

.ticket-detail .ticket-file ul li i.icon-xiazai{margin-top: -3px}

.ticket-detail .ticket-file ul li{height: 30px;line-height: 30px;color:#537c8d;font-size: 12px;}

.ticket-file ul li > a{color:#128cf6;}

.ticket-image ul{font-size: 0}

.ticket-image ul li.center-item{margin-left: 18px;margin-right: 18px;}

.ticket-image ul li{display:inline-block;width:calc((100% - 36px)/3);margin-bottom: 20px;}

.ticket-image ul li img{display: inline-block;width: 100%;height:200px;}


/* 详情Tab - 工单信息 */
.ticket-detail .detail-main .ticket-info ul{font-size: 0;}

.ticket-detail .detail-main .ticket-info ul li{display:inline-block;width: 50%;height:45px;line-height:45px;font-size: 12px;color:#40485b;}

.ticket-detail .detail-main .ticket-info ul li.ticket-from i.iconfont {font-size: 20px;color: #23b7e5;vertical-align: bottom !important;}

/* 详情Tab - 子工单 */
.sub-ticket{padding: 0 5px;}

.sub-ticket .sub-ticket-item{height: 45px;line-height: 45px;padding: 0 10px;cursor: pointer}

.sub-ticket .sub-ticket-item:hover{box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);border-radius: 3px}

.sub-ticket .sub-ticket-item:hover a:hover{color:#2c6ee5;}

.sub-ticket .sub-ticket-item .sub-ticket-status{display:inline-block;min-width: 50px;height:23px;line-height:24px;padding: 0 5px;text-align: center;color:#fff;
    border-radius: 3px;margin-right: 10px;font-size: 12px}

.sub-ticket .sub-ticket-item a{display: inline-block;color:#537c8d;font-size: 12px;vertical-align:middle}

.sub-ticket .sub-ticket-item a.editor-sub-ticket{font-size: 14px;margin-left: 10px}

.sub-ticket-form{height: 40px;line-height: 40px;padding: 0 10px;cursor: pointer;color:#23b7e5;margin: 10px 0;font-size: 0}

.sub-ticket-form input{border:none;border-radius:3px;width: calc(100% - 120px);height:40px;line-height:40px;padding: 0 10px;font-size: 12px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);vertical-align: middle}

.sub-ticket-form input:focus{box-shadow: 0 0 5px 0 rgba(35,183,229,.6);}

.sub-ticket-form a{display: inline-block;min-width: 50px;padding: 0 5px;height: 30px;line-height: 30px;background-color: #2c6ee5;color:#fff;margin-left: 10px;
    text-align: center;border-radius: 3px;font-size: 12px;    vertical-align: middle;}

.sub-ticket-form a:hover{opacity: .8}

.add-ticket-item{height: 40px;line-height: 40px;padding: 0 10px;cursor: pointer;color:#23b7e5}

.add-ticket-item:hover{color:#2c6ee5;box-shadow: 0 0 13px 0 rgba(0,0,0,0.15);border-radius: 3px}

.add-ticket-item i{font-size: 14px;margin-right: 5px}

/* 详情Tab - 关联工单 */
.ticket-detail .associate-ticket{display:inline-block;min-width: 63px;height: 30px;line-height: 30px;text-align: center;cursor: pointer;background-color: #537c8d;
    border-radius: 3px;font-size: 12px;color:#fff;border:1px solid #537c8d;margin-right: 10px;padding: 0 5px}

.ticket-detail .associate{line-height: 50px;}

.ticket-detail .associate .associate-item{padding-left: 10px}

.ticket-detail .associate .associate-item>a{display:inline-block;line-height: 30px;color:#275982;font-size: 13px;}

.ticket-detail .associate .associate-item>span.cancel-associate{display:inline-block;line-height: 30px;color:#666;font-size: 12px;margin-left: 10px;cursor:pointer}

.ticket-detail .associate .associate-item>span.cancel-associate:hover{color:#dd3434}

.ticket-detail .associate .associate-item:hover a{color:#3c84bf;}

/* 详情Tab - 满意度 */
.ticket-satisfy{line-height: 30px;}

.ticket-satisfy .ticket-satisfy-content span{vertical-align: middle;font-size: 14px;margin-right: 5px}

.ticket-satisfy .ticket-satisfy-content .layui-rate li i.layui-icon{font-size:17px}

.ticket-satisfy .ticket-satisfy-label{padding: 10px 0}

.ticket-satisfy .ticket-satisfy-label li.label-item{display: inline-block;margin-right: 5px;border:1px solid #e3e9ed;height: 25px;line-height: 25px;padding: 0 10px;
    font-size: 12px;color:#666;}


/* 工单主题 */
.ticket-detail .ticket-subject{line-height: 30px;font-size: 0;border-bottom:1px solid #dedede;padding: 10px 0}

.ticket-detail .ticket-subject li.subject-box{position: relative;margin-right: 10px;display: inline-block;font-size: 12px;vertical-align: middle;
    padding:0 10px;border:1px dashed #e3e9ed;cursor: pointer;border-radius: 100px;}

.ticket-detail .ticket-subject li.subject-box i{color:#666}

.ticket-detail .ticket-subject li.subject-box .subject-item{position:absolute;left:0;top:40px;background-color:#fff;width: 240px;border:1px solid #e3e9ed;z-index: 100;border-radius: 4px;
    padding:10px 0}

.ticket-detail .ticket-subject li.subject-box .subject-item .subject-item-header{margin-bottom: 5px;padding:0 10px}

.ticket-detail .ticket-subject li.subject-box .subject-item .subject-item-header input{border:1px solid #e3e9ed;height: 30px;line-height: 28px;
    width: 100%;padding: 0 10px;font-size: 12px}

.ticket-detail .ticket-subject li.subject-box .subject-item .subject-item-header input:hover,
.ticket-detail .subject-item input:focus{border-color:#8c92a4 !important}

.ticket-detail .ticket-subject li.subject-box .subject-item ul{width: 100%;text-align: left;height: 230px;overflow-x: hidden}

.ticket-detail .ticket-subject li.subject-box .subject-item ul li{line-height: 35px;font-size: 13px;padding: 0 10px}

.ticket-detail .ticket-subject li.subject-box .subject-item ul li.active{color:#2c6ee5}

.ticket-detail .ticket-subject li.subject-box .subject-item ul li i{float:right;color:#2c6ee5}

.ticket-detail .ticket-subject li.subject-box .subject-item ul li:hover{background-color: #f5f5f5}

.ticket-detail .ticket-subject li.subject-title{font-size: 14px;display: inline-block;vertical-align: middle;}

.ticket-detail .ticket-subject ul li.subject-label{font-size: 14px;vertical-align: middle;display: inline-block;text-align: center;line-height: 25px;}

.ticket-detail .ticket-subject ul li.subject-label div.subject-name{font-weight: normal;margin:2px 4px 2px 0;padding:4px;line-height: 14px;border-radius: 2px;background-color: #00afff;
    color:#fff;font-size: 12px;}

.ticket-detail .ticket-subject ul li.subject-label div.subject-name i{font-size: 12px;opacity: 0.5;cursor: pointer}

.ticket-detail .ticket-subject ul li.subject-label div.subject-name i:hover{opacity:1}


.ticket-detail .ticket-cc li i{display: inline-block;cursor: pointer;border-left: 1px solid #e3e9ed;font-size: 13px;padding: 0 3px}

.ticket-detail .ticket-cc li i:hover{color:#2c6ee5}

.ticket-detail .ticket-cc-header{line-height: 40px;border-bottom: 1px solid #e3e9ed}

.ticket-detail .ticket-cc{padding: 10px 0;line-height: 44px;font-size: 0;border-bottom:1px solid #dedede;}

.ticket-detail .ticket-cc ul li{font-size: 14px;vertical-align: middle;display: inline-block;text-align: center;line-height: 25px;}

.ticket-detail .ticket-cc ul li.cc-item{border:1px solid #e3e9ed;padding: 1px 2px;border-radius: 5px;}

.ticket-detail .ticket-cc ul li span.cc-cut{display: inline-block;width:1px;background:#cecece;height: 15px;vertical-align: middle;margin: 0 15px;}

.ticket-detail .ticket-cc ul li img{width: 20px;height: 20px;border-radius: 100%;}

.ticket-detail .ticket-cc ul li img,.ticket-detail .ticket-cc ul li span{font-size: 12px}

.ticket-detail .ticket-cc li i{display: inline-block;cursor: pointer;border-left: 1px solid #e3e9ed;font-size: 13px;padding: 0 3px}

.ticket-detail .ticket-cc li i:hover{color:#2c6ee5}



.ticket-detail .detail-customer{position: relative;}

.ticket-detail .chat-record{position: absolute;top:0;right: 0}

.ticket-detail .chat-record a{display: inline-block;background: #8c92a4;padding: 0 10px;text-align: center;color:#fff;height: 30px;line-height: 30px;border-radius: 5px;}

.ticket-detail .detail-content .ticket-title{position:relative;font-size:15px;line-height: 55px;border-bottom:1px solid #e3e9ed}

.ticket-detail .detail-content .ticket-title a.icon-bianji1{display:inline-block;cursor: pointer;color:#537c8d;margin-top: -3px}

.ticket-detail .detail-content .ticket-title a.icon-bianji1:hover{color:#2c6ee5}


/* 详情 - 工单回复和内部协作 */
.detail-reply{padding-bottom: 20px;}

.reply-header{height: 50px;line-height: 50px;border-bottom:1px solid #dedede;font-size: 14px;}

.reply-header a{display: inline-block;min-width: 100px;padding: 0 5px;text-align: center;height: 50px;line-height: 49px}

.reply-header a.active{border-bottom: 3px solid #2c6ee5;color:#2c6ee5}

.reply-item .nodata,.team-reply-item .nodata,.quick-main .nodata{margin:50px 0;text-align: center;line-height: 30px;}

.reply-item .item,.team-reply-item .item{border-bottom:1px solid #dedede;padding: 20px 0}

.reply-item .item:last-child,.team-reply-item .item:last-child{border-bottom: none}

.reply-item .item .content-header .face,.team-reply-item .item .content-header .face{width:30px;height: 30px;border-radius: 50%;margin-right: 10px;}

.reply-item .item .content-header span:nth-child(2).team-reply-item .item .content-header span:nth-child(2){color:#537c8d;font-weight: bold;font-size:14px;}

.reply-item .item .content-header span:nth-child(3),.team-reply-item .item .content-header span:nth-child(3){color:#32465d;font-size:12px;}

.reply-item .item .content-header span:nth-child(4),.team-reply-item .item .content-header span:nth-child(4){font-size: 12px;color:#666}

.reply-item .item .reply-content,.team-reply-item .item .reply-content{font-size:12px;color:#333;margin-top: 15px;padding-left: 45px;}

.reply-item .item .reply-content img.reply-image,.team-reply-item .item .reply-content img.reply-image{margin-right: 20px !important;}

.reply-item .reply-attach,.team-reply-item .reply-attach{padding-left: 45px;margin-top: 5px}

.reply-item .attach-item,.team-reply-item .attach-item{padding-top: 10px;font-size:12px;color:#537c8d}

.reply-item .attach-item a,.team-reply-item .attach-item a{color:#128cf6;}

.reply-item .attach-item a i,.team-reply-item .attach-item a{margin-top: -3px}

/* 详情 - 团队协作参与人 */
.team-reply-item .team-leaguer{padding: 10px 0;border-bottom: 1px solid #e3e9ed;font-size: 0}

.team-reply-item .team-leaguer span{font-size: 14px;display: inline-block;vertical-align: middle}

.team-reply-item .team-leaguer a{display: inline-block;margin-right: 15px;font-size: 12px;text-align: center;vertical-align: middle}

.team-reply-item .team-leaguer a img{width: 30px;height: 30px;border-radius: 100%;margin-bottom: 5px;border: 1px solid #e3e9ed}

.team-textarea-note{height:0;line-height: 45px;padding-left: 47px;font-size: 12px;color:#999}

.team-reply-item .item .reply-content span.cc-member{color:#2769AA;cursor:pointer}

.team-reply-item .item .reply-content span.cc-member span{vertical-align: middle}

.team-reply-item .item .reply-content span.cc-member-name{color:#2769AA;cursor:pointer}




/* 详情 - 工单事件 */
.detail-event .layui-timeline{padding-top: 20px;}

.detail-event .layui-text{padding-left: 35px}

.detail-event .layui-text h3{font-size: 16px !important;}

.detail-event .layui-timeline-item{padding-bottom: 15px}

.detail-event .layui-timeline-item:last-child:before{display: block}

.detail-event #ticketEvent .layui-timeline-title{margin-bottom: 15px}

.detail-event .layui-timeline-axis{color:#ff7900;top:2px}

.detail-event .date{width: 35px;height: 35px;font-size: 12px;background: #ff7900;color: #fff;line-height: 35px;left: -10px;top: -5px;}

.detail-event .date span{display: inline-block;transform: scale(.8);white-space: nowrap}

.detail-event .icon-user{position: absolute;left: -10px;z-index: 10;color: #23b7e5;border-radius: 50%;font-size:30px;text-align: center;cursor: pointer;}

.detail-event .event-item p{position: relative;padding-bottom: 10px}

.detail-event .event-item p.nowrap{white-space: nowrap}

.detail-event .event-item .layui-text a:not(.layui-btn){color:#537c8d}

.detail-event .event-item .quan{position: absolute;left:-33px;top: 7px;z-index: 10;border-radius: 50%;border: 1px solid #cecece;width:7px;height:7px;
    background: #fff;vertical-align: middle}

.detail-event .event-item a.ellipsis{display: inline-block;max-width:300px;vertical-align: bottom}

.detail-event .event-item .layui-text a.modify-record-btn{margin-left: 10px;color:#23b7e5}

.detail-event .event-item .layui-text a.modify-record-btn:hover{color:#2c6ee5}

.detail-event .event-item .layui-text a:hover{text-decoration: none}

/* 详情 - 回复框 */
.reply-box,.team-reply-box{line-height: 60px;position: absolute;left:0;right:0;bottom: 0;width: 100%;background: #fff;}

.reply-box .reply-textarea,.team-reply-box .team-reply-textarea{box-shadow: 0 0 10px 0 rgba(0,0,0,.1);padding:0 20px}

.reply-box .reply-input, .team-reply-box .team-reply-input {padding:0 20px}

.reply-box .reply-input img,
.reply-box .reply-textarea img,
.team-reply-box .team-reply-input img,
.team-reply-box .team-reply-textarea img
{width:35px !important;height:35px !important;border-radius: 50%;margin-right: 10px;}

.reply-box .reply-input input,
.team-reply-box .team-reply-input input
{border:1px solid #e3e9ed;height: 35px;line-height: 35px;border-radius: 2px;width: calc(100% - 50px);padding-left: 15px;font-size: 12px;}

.reply-box .reply-textarea .textarea-hide,
.team-reply-box .team-reply-textarea .team-textarea-hide{height: 30px;line-height: 45px;text-align: center;cursor:pointer}

.reply-box .reply-textarea .layui-layedit,
.team-reply-box .team-reply-textarea .layui-layedit{display: inline-block;width:calc(100% - 50px);border-radius: 4px;border-color:#e3e9ed}

.reply-box .reply-textarea .layui-layedit-tool,
.team-reply-box .team-reply-textarea .layui-layedit-tool
{line-height: 40px}

.reply-box .reply-operate,
.team-reply-box .reply-operate
{position:relative;margin-left: 47px;border-bottom: 1px solid #dedede}

.reply-box .reply-operate .ui,
.reply-box .cc-item .ui,
.team-reply-box .reply-operate .ui,
.team-reply-box .cc-item .ui
{display:inline-block;border:1px solid #e3e9ed;border-radius: 4px;height:30px;line-height: 29px;padding: 0 5px;margin-right: 15px}

.reply-box .reply-operate .ui a,.team-reply-box .reply-operate .ui a{display: inline-block;text-align: center;width: 100%;}

.reply-box .reply-operate .submit-reply,.team-reply-box .reply-operate .team-submit-reply{position:relative;padding: 0;white-space: nowrap;font-size: 0;}

.reply-box .reply-operate a.submit-btn,.team-reply-box .reply-operate a.team-submit-btn
{padding: 0 10px;font-size: 12px;background-color: #308ee3;border-radius: 3px;color: #fff;}

.reply-box .reply-operate a.submit-btn:hover,.team-reply-box .reply-operate a.team-submit-btn:hover{opacity: .8}

.reply-box .reply-operate .reply-arrow,.team-reply-box .reply-operate .reply-arrow{border-left:1px solid #e3e9ed;display: inline-block;text-align: center;cursor:pointer;vertical-align: top;}

.reply-box .reply-operate .quick-reply,.team-reply-box .reply-operate .quick-reply{white-space: nowrap;}

.team-reply-box .reply-operate .cc{border:none;margin: 0;padding: 0;}

.reply-operate .upload-attach{position: absolute;right: 0;margin-right: 0;border:none;height:30px;line-height: 30px;display: inline-block;top: 13px;}

.reply-operate .upload-attach .layui-btn {height: 30px;line-height: 30px;padding: 0 10px;border-radius: 4px;border-color:#e3e9ed;font-size: 12px}

.reply-operate .upload-attach .layui-btn .layui-icon{font-size:15px}

.reply-box .reply-operate .reply-status,
.team-reply-box .reply-operate .reply-status
{position: absolute;min-width: 120px;display: none;bottom:35px;left: 0;background:#fff;box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);border-radius: 4px;}

.reply-box .reply-operate .submit-reply .reply-status li,
.team-reply-box .reply-operate .team-submit-reply .reply-status li
{width:100%;padding: 5px 10px;line-height: 24px;cursor:pointer;white-space: nowrap;}

.reply-box .reply-operate .reply-status li span,.team-reply-box .reply-operate .reply-status li span{padding-left: 5px;}

.reply-box .reply-operate .reply-status li:hover, .team-reply-box .reply-operate .reply-status li:hover{background: #fff9f5}

.reply-box .attach-item,.team-reply-box .attach-item{margin-left: 47px;padding: 15px 0;line-height: 30px;color:#32465d}

.reply-box .attach-item i.icon-guanbi,.team-reply-box .attach-item i.icon-guanbi{font-size:12px;margin-left: 5px;color:#537c8d;cursor:pointer;}

/* 详情 - 团队沟通 */

.reply-box .ui-border,.team-reply-box .ui-border{border-color:#537c8d !important;}

.team-reply-box .cc-item{margin-left: 47px;border-bottom: 1px dashed #dedede;color:#32465d;}

.team-reply-box .cc-item div{position:relative;color:#32465d;text-align: center;cursor:pointer;min-width: 60px;}

.team-reply-box .cc-item div i.icon-close1{position:absolute;top: -8px;right: 0;font-size: 12px;}

.team-reply-box .cc-item div.active{border-color:#537c8d;}

.ticket-detail .title-right{position: absolute;top: calc(50% - 15px);right: 0;font-weight: normal;font-size: 0;height: 30px;line-height: 30px;}

.ticket-detail .title-right .library-base{display:inline-block;min-width: 80px;height: 30px;line-height: 30px;text-align: center;cursor: pointer;
    background-color: #fff;border-radius: 3px;font-size: 12px;color:#537c8d;border:1px solid #537c8d;margin-right: 10px;padding: 0 5px}

.ticket-detail .title-right .library-base:hover,.ticket-detail .title-right .ticket-operate:hover{border-color:#2c6ee5;color:#2c6ee5}

.ticket-detail .title-right .ticket-operate{display:inline-block;min-width: 80px;height: 30px;line-height: 30px;text-align: center;cursor: pointer;
    background-color: #fff;border-radius: 2px;font-size: 12px;color:#537c8d;border:1px solid #537c8d;margin-right: 10px;padding: 0 5px}

.ticket-detail .title-right .ticket-operate i{margin-left:-2px;margin-top: -1px}

.ticket-detail .title-right .title-right-menu{position:absolute;top:35px;right:8px;border-radius:3px;background-color: #fff;z-index: 100;
    display: none;box-shadow:0 1px 40px 0 rgba(140,146,163,0.2),inset 0 0 0 0 #dededf !important;border:1px solid #e3e9ed;}

.ticket-detail .title-right .title-right-menu li{cursor: pointer;min-width: 80px;height: 30px;line-height: 30px;font-size: 12px;color:#666;
    text-align: center;padding: 0 5px}

.ticket-detail .title-right .title-right-menu li:hover{background-color: #f5f5f5;color:#537c8d;}

.ticket-detail .title-right .title-right-menu li a{display: inline-block;width: 100%}


/* 详情 - 回复评论 */

.comment{display: inline-block;padding: 0 8px;}

.comment:hover{border-color:#2c6ee5;color:#2c6ee5}

.comment-window .comment-panel {position: relative;height:100%;background: #fff;margin: 0 auto;z-index: 200;font-size: 0}

.comment-window .comment-panel .comment-main{height: calc(100% - 65px);overflow-x: hidden;}

.comment-window .comment-panel>form textarea{width: 100%;resize: none;padding-left: 10px;padding-top: 10px;font-size: 14px}

.comment-window .comment-panel .layui-layedit{border:none !important;}

.comment-window .comment-panel .layui-layedit:hover .layui-layedit-tool{border-color:#e6e6e6 !important;}

.comment-window .comment-panel .submit-comment{position: absolute;width: 100%;bottom: 0;height: 65px;line-height: 65px;background-color: #fff;border-top: 1px solid #eee;text-align: center}

.comment-window .comment-panel .submit-comment .layui-btn{background-color: #2c6ee5;border-radius: 3px;padding: 0 5px;height: 35px;line-height: 35px;font-size: 13px;min-width: 70px;}

.comments{background-color: #f9f9f9;padding: 0 10px;border-radius: 5px;margin-top: 10px;line-height: 20px;}

.comments .face{width: 20px;height:20px;border-radius: 100%;}

.comments .comment-name{vertical-align: text-top;color:#ff7900}

.comments .comment-content{vertical-align: text-top;color:#666}

.comments .comment-time{vertical-align: text-top;color:#999;margin-left: 10px}

.comments .comment-item{padding: 10px 0;border-bottom: 1px solid #D9D9D9;font-size: 12px}

.comments .comment-item:last-child{border-bottom: none}

.comments .comment-more{text-align: center;line-height: 35px;color: #999;cursor: pointer;}

.comments .comment-more:hover i{color:#2c6ee5}

/* 详情 - 分配处理人 - 弹窗 */

.ticket-detail .process-ticket{display:inline-block;min-width: 63px;height: 30px;line-height: 30px;text-align: center;cursor: pointer;background-color: #fff;
    border-radius: 3px;font-size: 12px;color:#537c8d;border:1px solid #537c8d;margin-right: 10px;padding: 0 5px}

.process-window,.process-window .layui-layer-content{border-radius: 5px !important;}

.process-window .process-panel{background: #fff;width:100%;height:100%;border-radius: 5px;margin: 0 auto;z-index: 200;}

.process-window .process-panel .process-item{height: calc(100% - 56px);overflow-x: hidden}

.process-window .process-panel .process-item::-webkit-scrollbar{width: 5px;height: 5px;}

.process-window .process-panel .process-item::-webkit-scrollbar-thumb{border-radius: 5px;background: #cecece;}

.process-window .process-panel .process-item::-webkit-scrollbar-track{border-radius: 0;background: rgba(0,0,0,0.1);}

.process-window .process-content{height: calc(100%);font-size: 0}

.process-window .process-content .process-groups{display:inline-block;border-right: 1px solid #e3e9ed;height: 100%;width: 40%;font-size: 14px;vertical-align:text-top}

.process-window .process-group-search{padding:10px 10px 0 10px;height: 50px;}

.process-window .process-group-search input{border:1px solid #e3e9ed;width: 100%;height: 30px;line-height: 30px;font-size: 12px;padding-left: 10px;border-radius: 2px}

.process-window .process-group-item{height: calc(100% - 50px);overflow-x: hidden;}

.process-window .process-group-item::-webkit-scrollbar{width: 5px;height: 5px;}

.process-window .process-group-item::-webkit-scrollbar-thumb{border-radius: 5px;background: #cecece;}

.process-window .process-group-item::-webkit-scrollbar-track{border-radius: 0;background: rgba(0,0,0,0.1);}

.process-window .process-group-item li{height: 35px;line-height: 35px;padding: 0;font-size: 12px}

.process-window i.icon-dir-open, .process-window i.icon-dir-close{margin:-1px 5px 0 0}

.process-window .process-group-item li.group-selected{color: #2c6ee5;}

.process-window .process-group-item li:hover{background-color: #f5f5f5;cursor: pointer;color: #2c6ee5;}

.process-window .process-users{display:inline-block;height: 100%;width: calc(60% - 1px);font-size: 14px;vertical-align:text-top}

.process-window .process-user-search{padding:10px 10px 0 10px;height: 50px}

.process-window .process-user-search input{border:1px solid #e3e9ed;width: 100%;height: 30px;line-height: 30px;font-size: 12px;padding-left: 10px;border-radius: 2px}

.process-window .process-group-search input:focus,.process-window .process-user-search input:focus{border-color:#2c6ee5}

.process-window .process-user-item{height: calc(100% - 50px);overflow-x: hidden;padding: 0 10px;font-size: 12px}

.process-window .process-user-item::-webkit-scrollbar{width: 5px;height: 5px;}

.process-window .process-user-item::-webkit-scrollbar-thumb{border-radius: 5px;background: #cecece;}

.process-window .process-user-item::-webkit-scrollbar-track{border-radius: 0;background: rgba(0,0,0,0.1);}

.process-window .process-user-item li{height: 35px;line-height: 35px;padding: 0 10px;}

.process-window .process-user-item li.user-hidden{display: none !important;}

.process-window .process-user-item li.user-selected{color: #2c6ee5;}

.process-window .process-user-item li:hover{border:1px solid #2c6ee5;cursor: pointer;color: #2c6ee5;}



.process-window footer{text-align: center;padding: 10px 0;border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-top: 1px solid #e3e9ed}

.process-window .process-submit{display: inline-block;width: 80px;margin: 0 auto;height: 35px;line-height: 35px;border-radius: 3px;background-color: #2c6ee5;color: #fff;}

/* 详情 - 重启工单 */

.restart-panel {position: relative;top: 20%;background: #fff;width:500px;height:300px;margin: 0 auto;z-index: 200}

.restart-panel>header{width:100%;background-color:#f8f8f8;line-height: 50px;padding: 0 20px;z-index: 200;color:#666;}

.restart-panel>form{padding: 20px 20px 0 0;}

.restart-panel>form .layui-input-block{margin-left: 20px}

.restart-panel>form .layui-form-select .layui-edge{border-width: 5px;}

.restart-panel .submit-restart{position: absolute;bottom: 0;left: calc((50% - 40px));text-align: center}

.restart-panel .submit-restart .layui-btn{background-color: #2c6ee5;width: 80px;height: 35px;line-height: 35px;}

.restart-panel>header .restart-close{position:absolute;right:20px;display: inline-block;font-size:25px !important;color:#333;cursor:pointer}

/* 详情 - 转移工单 */

.project-transfer-panel {position: relative;top: 20%;background: #fff;width:500px;height:300px;margin: 0 auto;z-index: 200}

.project-transfer-panel>header{width:100%;background-color:#f8f8f8;line-height: 50px;padding: 0 20px;z-index: 200;color:#666;}

.project-transfer-panel>form{padding: 20px 20px 0 0;}

.project-transfer-panel>form .layui-input-block{margin-left: 20px}

.project-transfer-panel>form .layui-form-select .layui-edge{border-width: 5px;}

.project-transfer-panel .submit-project-transfer{position: absolute;bottom: 0;left: calc((50% - 40px));text-align: center}

.project-transfer-panel .submit-project-transfer .layui-btn{background-color: #2c6ee5;width: 80px;height: 35px;line-height: 35px;}

.project-transfer-panel>header .project-transfer-close{position:absolute;right:20px;display: inline-block;font-size:25px !important;color:#333;cursor:pointer}


/* 详情 - 催单 */
.urge-window .urge-panel{position:relative;background: #fff;width:100%;height:100%;margin: 0 auto;z-index: 200;}

.urge-window .urge-panel>.urge-main{height: calc(100% - 65px);overflow-x: hidden}

.urge-window .urge-panel>.urge-main .urge-title{padding:0 20px;color:#666;background-color: #fafafa;height: 35px;line-height: 35px;font-size: 13px}

.urge-window .urge-panel>.urge-main .urge-list ul{line-height:50px;}

.urge-window .urge-panel>.urge-main .urge-list ul li{display: inline-block;text-align: left;background-color: #fff;word-break: break-all;
    line-height: normal;min-width: 120px;margin-right: 10px;}

.urge-window .urge-panel>.urge-main .urge-list ul li span.urge-name{font-size: 14px;color:#333;vertical-align: middle}

.urge-window .urge-panel>.urge-main .layui-form-checkbox[lay-skin=primary]{padding-left: 22px}

.urge-window .urge-panel>.urge-main .layui-form-checkbox[lay-skin=primary] i{width: 15px;height: 15px;line-height: 14px;border: 1px solid #d1d1d1;}

.urge-window .urge-panel>.urge-main .urge-textarea{padding: 0 15px;margin-top: 15px}

.urge-window .urge-panel>.urge-main .urge-textarea .layui-layedit{border-radius: 2px}

.urge-window .urge-panel>.urge-main .urge-title .urge-tag{color:#2c6ee5}

.urge-window .urge-panel .submit-urge{position: absolute;width: 100%;bottom: 0;height: 65px;line-height: 65px;background-color: #fff;border-top: 1px solid #eee;text-align: center}

.urge-window .urge-panel .submit-urge .layui-btn{background-color: #2c6ee5;border-radius: 3px;padding: 0 5px;height: 35px;line-height: 35px;font-size: 13px;min-width: 70px;}

.urge-layer{border-radius: 5px !important;}

.urge-label{background-color: #fff;border-radius: 5px;height: 280px;}

.urge-label .label-header{position:relative;background-color: #fff;color:#333;padding: 15px 10px;font-size: 14px;border-top-left-radius: 5px;border-top-right-radius: 5px;border-bottom: 1px solid #e3e9ed}

.urge-label .label-header .close{position:absolute;top: 13px;right:10px;font-size: 20px;cursor:pointer}

.urge-label .label-item{padding:10px 0 10px 10px}

.urge-label .label-item>div{margin:10px 0 20px 0;font-size: 12px;color:#2b2f3e}

.urge-label .label-item ul li{background-color: #fafafa;display: inline-block;width: calc((100% - 20px)/2);margin-bottom: 10px;margin-right: 10px;color:#2b2f3e;
    border-radius: 5px;}

.urge-label .label-item ul li span{font-weight: bold}

.urge-label .label-item ul li i{font-size:30px;color:#6a728b;margin-right: 5px;}

.urge-label{border-radius: 5px !important;}

/* 详情 - 关联工单 - 弹窗 */

.associate-window .associate-panel{background: #fff;width:100%;height:100%;margin: 0 auto;z-index: 200;}

.associate-window .associate-panel>header{position:absolute;width:100%;color:#666;height:45px;line-height: 45px;padding: 0 10px;
    z-index: 200;border:1px solid #eee;font-size: 0;background-color:#F8F8F8}

.associate-window .associate-panel>header .associate-search{position:relative;display: inline-block;width: 50%;font-size:0;margin: 0 9vw;vertical-align: middle}

.associate-window .associate-panel>header .associate-search input{display:inline-block;width: 100%;height: 30px;line-height: 30px;border: 1px solid #eee;
    border-radius: 3px;padding-left: 10px;font-size: 12px;}

.associate-window .associate-panel>header .associate-search a{position: absolute;top:4px;right:1px;text-align:center;padding: 0 10px;height: 28px;line-height:28px;
    color:#666;font-size:12px;background-color: #fff;border-left:1px solid #e3e9ed;}

.associate-window .associate-panel>header>i{float:right;display: inline-block;font-size:25px !important;color:#333;cursor:pointer;}

.associate-window .associate-panel .associate-content{padding:20px 0;text-align: center;color:#999}

.associate-window .associate-panel .associate-item{padding-top: 45px;height: calc(100% - 56px);overflow-x: hidden}

.associate-window .associate-panel .associate-item::-webkit-scrollbar{width: 5px;height: 5px;}

.associate-window .associate-panel .associate-item::-webkit-scrollbar-thumb{border-radius: 5px;background: #cecece;}

.associate-window .associate-panel .associate-item::-webkit-scrollbar-track{border-radius: 0;background: rgba(0,0,0,0.1);}

.associate-window .item-header{border-bottom: 1px solid #e3e9ed}

.associate-window li{font-size: 14px;color:#666}

.associate-window .associate-ticket-item:nth-child(2n){background:#fafafa}

.associate-window .associate-ticket-item:hover{background-color:#f3f7ff}

.associate-window ul li{display:inline-block;cursor: pointer;padding: 0;height: 45px;line-height: 45px;text-align: center;vertical-align: middle;font-size: 13px}

.associate-window ul li:nth-child(1){width: 10%}

.associate-window ul li:nth-child(2){width: 60%;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.associate-window ul li:nth-child(3){width: 30%;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.associate-window .layui-form-radio{margin-top: 0;margin-right: 0;padding-right: 0}

.associate-window .layui-form-radio>i{margin-right: 0;font-size: 17px}

.associate-window .layui-form-radio>i:hover,.associate-window .layui-form-radioed>i{color:#2c6ee5}

.associate-window footer{text-align: center;padding: 10px 0;border-top: 1px solid #e3e9ed}

.associate-window .associate-submit{display: inline-block;width: 80px;margin: 0 auto;height: 35px;line-height: 35px;border-radius: 3px;background-color: #2c6ee5;color: #fff;}

/* 详情 - 满意度睥睨 - 弹窗 */
.satisfy .satisfy-label .current,.satisfy .satisfy-label .label-item:hover{border-color:#2c6ee5;color:#2c6ee5}

.satisfy textarea{margin-bottom: 20px;border:1px solid #eee;}

.satisfy textarea:focus{border-color:#ccdeff;background-color: #fff;}

.sa-btn {height:40px;line-height:40px;font-size:14px;margin-bottom:0;background-color: #2c6ee5;border-radius: 3px}


/* 详情 - 快捷回复 */

.quick-box{position: relative;top: 20%;background: #f5f5f5;width:70%;height:500px;border-radius: 5px;margin: 0 auto;z-index: 200}

.quick-box .layui-layer-content{border-radius: 5px;}

.quick-box .quick-header{position:absolute;width:100%;background-color:#222731;border-top-left-radius:5px;border-top-right-radius:5px;line-height: 50px;padding: 0 20px;z-index: 200}

.header-title{display: inline-block;color:#fff;font-size: 14px}

.quick-search{position:relative;left:17%;display: inline-block;width: 50%;}

.quick-search i.icon-search{position: absolute;color: #666;font-size: 15px;left: 10px;height: auto;line-height: 50px;margin-top: 1px;}

.quick-search input{height: 30px;line-height:30px;border-radius:50px;padding-left:35px;border:none;width: 100%;font-size: 12px;
    background-color: #fff;color:#333}

.quick-close{position:absolute;right:20px;display: inline-block;font-size:20px !important;color:#fff;cursor:pointer}

.quick-close:hover{color:#fff}

.quick-main{position:absolute;width: 100%;height:100%;overflow-x:hidden;padding:50px 20px 0 20px}

.quick-main>div.no-search{position:absolute;top:40%;right:0;width: 100%;text-align: center;color: #666;font-size: 15px}

.quick-main>div.no-search i {vertical-align: middle;font-size: 20px;margin-right: 10px;}

.quick-main dl{display:inline-block;width:calc(50% - 10px);margin-right: 20px;}

.quick-main dl dt{padding: 20px 0;font-size: 14px;font-weight: bold;}

.quick-main dl dd{background-color: #fff;height: 65px;line-height: 65px;padding: 0 10px;border-radius: 5px;margin-bottom: 10px;cursor:pointer;}

.quick-main dl dd i{font-size:35px;color:#ccc;margin-right: 10px;}

.quick-main dl dd .item-right{width:calc(100% - 45px);text-align: left;line-height: 25px;padding: 8px 0}

.quick-main dd:hover{box-shadow: 0 0 15px rgba(29,29,29,.15)}

.quick-main dd:hover p.quick-title{font-weight: bold;}

.quick-main dd:hover i{color:#23b7e5}

.quick-shade,.restart-shade,.comment-shade,.urge-shade,.project-shade ,.group-chat-shade{position: fixed;background: #000;opacity: .5;width: 100%;height: 100%;display: none;z-index: 100}

/* 知识库 */
.ticket-library{position: relative;top:0;right: -102%;width:100%;height: 100%;background-color: #fff;box-shadow: 0 0 18px 3px rgba(0,0,0,.15);}

.ticket-library .library-sidebar{position: absolute;top: 0;left: 0;width: 20px;height: 100%;text-align: center;cursor:pointer;color:#999;z-index: 1;}

.ticket-library .library-sidebar:hover{background-color: #fafafa}

.ticket-library .library-sidebar i{position: absolute;top:50%;right: 2px;}

.ticket-library .library-header{height: 60px;line-height: 60px;border-bottom:1px solid #e3e9ed;text-align: center;padding: 0 10px;margin-left: 30px}

.ticket-library .library-header .library-search{position:relative;}

.ticket-library .library-header .library-search input{padding-left:10px;border:1px solid #e3e9ed;height: 30px;line-height: 30px;font-size: 12px;
    margin-right: 3px;width: calc(100% - 55px)}

.ticket-library .library-header .library-search .search-btn{display: inline-block;padding: 0 10px;background-color: #2c6ee5;height: 30px;line-height: 30px;
    border-radius: 2px;color:#fff;width: 40px;}

.ticket-library .library-main{height:calc(100% - 60px);overflow-x:hidden;padding: 0 5px;margin-left: 30px;}

.ticket-library .library-main .library-item{height: 50px;line-height: 50px;padding: 0 5px;color:#537c8d;border-bottom:1px solid #e3e9ed;cursor: pointer}

.ticket-library .library-main .library-item:hover{background-color:#fafafa;color:#32465d;}

.ticket-library .library-main .library-no-data{text-align: center;padding: 100px 0;color:#666;font-size: 13px;}

.ticket-library .library-query{padding:10px 20px 0 20px}

.create-group-chat{display:inline-block;min-width: 50px;text-align: center;line-height: 28px;border:1px solid #e3e9ed;border-radius: 3px;cursor: pointer;
    padding:0 10px;font-size: 12px !important;}

.group-chat-btn{position:absolute;right:0;text-align: center;cursor:pointer}

.group-chat-btn img{width: 30px;height: 30px;margin-bottom: 5px;}

.group-chat-btn p{font-size: 13px}

.group-chat-window,.group-chat-window .layui-layer-content{border-radius: 5px !important;}

.group-chat-window .group-chat-panel{background: #fff;width:100%;height:100%;border-radius: 5px;margin: 0 auto;z-index: 200;}

.group-chat-window .group-chat-panel>header{position:absolute;top:0;z-index:100;width:100%;background-color:#222731;color:#fff;border-top-left-radius:5px;border-top-right-radius:5px;
    line-height: 50px;padding: 0 20px;border:1px solid #222731}

.group-chat-window .group-chat-panel>header .group-chat-close{position:absolute;right:20px;display: inline-block;font-size:20px !important;color:#fff;cursor:pointer}

.group-chat-window .group-chat-panel>header .move-element{display: inline-block;width: calc(100% - 20px);}

.group-chat-panel .group-chat-main{
    padding: 95px 35px 0 35px;
    height: calc(100% - 50px);
    overflow-x: hidden;
}

.group-chat-panel .group-chat-main .group-chat-item{
    margin-bottom: 35px;
}

.group-chat-panel .group-chat-main .group-chat-item input{
    border:1px solid #e3e9ed;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    width: 100%;
}

.group-chat-panel .group-chat-main .group-chat-item textarea {
    border:1px solid #e3e9ed;
    height: 150px;
    padding: 10px;
    border-radius: 4px;
    resize: none;
    width: 100%;
}

.group-chat-panel .group-chat-main .group-chat-item:last-child{
    margin-bottom: 20px;
}

.group-chat-panel .group-chat-main .group-chat-item a{
    display: inline-block;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color:#2c6ee5;
    border:1px solid #2c6ee5;
    background-color: #fff;
    margin-right: 15px;
    border-radius: 4px;
}

.group-chat-panel .group-chat-main .group-chat-item a:first-child{
    background-color: #2c6ee5;
    color:#fff
}
