<div class="list-filter select-fiter" data-type="sort_by">

	<div class="list-filter-tit">{:L('SORT_BY')}</div>

	<div class="list-filter-option list-filter-sort-by <in name='sort_by' value='followtime-desc,followtime-asc'>active</in>" data-value="followtime-desc">
		{:L('SORT_BY_LAST_FOLLOW_UP_TIME')}
		<in name='sort_by' value='followtime-desc,followtime-asc'>

			<eq name="sort_by" value="followtime-asc"><i class="iconfont icon-up" data-value="followtime-desc"></i></eq>
			<eq name="sort_by" value="followtime-desc"><i class="iconfont icon-downs" data-value="followtime-asc"></i></eq>

			<else/>
			<i class="iconfont icon-sort-small-copy" data-value="followtime-desc"></i>
		</in>
	</div>

	<div class="list-filter-option list-filter-sort-by <in name='sort_by' value='contacttime-desc,contacttime-asc'>active</in>" data-value="contacttime-desc">
		{:L('SORT_BY_NEXT_CONTACT_TIME')}
		<in name='sort_by' value='contacttime-desc,contacttime-asc'>

			<eq name="sort_by" value="contacttime-asc"><i class="iconfont icon-up" data-value="contacttime-desc"></i></eq>
			<eq name="sort_by" value="contacttime-desc"><i class="iconfont icon-downs" data-value="contacttime-asc"></i></eq>

			<else/>
			<i class="iconfont icon-sort-small-copy" data-value="contacttime-desc"></i>
		</in>
	</div>

	<div class="list-filter-option list-filter-sort-by <in name='sort_by' value='createtime-desc,createtime-asc'>active</in>" data-value="createtime-desc">
		{:L('SORT_BY_CREATION_TIME')}
		<in name='sort_by' value='createtime-desc,createtime-asc'>

			<eq name="sort_by" value="createtime-asc"><i class="iconfont icon-up" data-value="createtime-desc"></i></eq>
			<eq name="sort_by" value="createtime-desc"><i class="iconfont icon-downs" data-value="createtime-asc"></i></eq>

			<else/>
			<i class="iconfont icon-sort-small-copy" data-value="createtime-desc"></i>
		</in>

	</div>

</div>