<div class="list-filter select-fiter" data-type="examine_status">

	<div class="list-filter-tit">{:L('EXAMINE_STATUS')}</div>

	<div class="list-filter-option <eq name='examine_status' value='0'>active</eq>" data-value="0">{:L('WHOLE')}</div>

	<div class="list-filter-option <eq name='examine_status' value='1'>active</eq>" data-value="1">{:L('WAIT_AUDIT')}</div>

	<div class="list-filter-option <eq name='examine_status' value='2'>active</eq>" data-value="2">{:L('AUDITED')}</div>

	<div class="list-filter-option <eq name='examine_status' value='-1'>active</eq>" data-value="-1">{:L('REJECTED')}</div>

</div>

