<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<title>{:C('WEB_TITLE')}</title>

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/layui/css/layui.css" media="all"/>

		<link rel="stylesheet" href="__PUBLIC__/js/datepicker/datepicker.css"/>

		<link rel="stylesheet" type="text/css" href="CRM_PUBLIC_CSS/index.css"/>

		<link rel="stylesheet" type="text/css" href="CRM_PUBLIC_CSS/style.css"/>

		<link rel="stylesheet" href="{:C('PC_ICON_HTTP')}">

		<script type="text/javascript" >

			const moduleName = "{$Think.MODULE_NAME}";

		</script>

        <link rel="stylesheet" href="__PUBLIC__/js/viewer/css/viewer.min.css">
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/select2/select2.css" media="all"/>

		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>
		
		<script type="text/javascript" src="__PUBLIC__/js/jquery-ui.min.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/cookie/jquery.cookie.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/lang/{$Think.cookie.think_language|getStrToLower}.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/colorpicker.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/layui/layui.js"></script>

        <script type="text/javascript" src="__PUBLIC__/js/feeldesk.js"></script>

        <script type="text/javascript" src="CRM_PUBLIC_JS/index.js"></script>

        <script type="text/javascript" src="__PUBLIC__/js/jquery.nicescroll.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/clipboard.min.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/select2/select2.min.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/select2/jquery.core.js"></script>

	</head>

<body>

<script type="text/javascript" src="__PUBLIC__/js/datepicker/datepicker.all.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/datepicker/moment.min.js"></script>

<script type="text/javascript" src="__PUBLIC__/js/datepicker/datepicker.en.js"></script>