<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		
		<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

		<title>{:C('WEB_TITLE')}</title>

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/layui/css/layui.css" media="all"/>

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/index.css"/>

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/index/css/style.css"/>

		<link rel="stylesheet" href="{:C('PC_ICON_HTTP')}">

		<script>
			var moduleName = "{$Think.MODULE_NAME}";
		</script>

        <link rel="stylesheet" href="__PUBLIC__/js/viewer/css/viewer.min.css">
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/select2/select2.css" media="all"/>

		<script type="text/javascript" src="__PUBLIC__/js/jquery-1.9.1.min.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/jquery-ui.min.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/cookie/jquery.cookie.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/lang/{$Think.cookie.think_language|getStrToLower}.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/colorpicker.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/layer/layer.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/layui/layui.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/jquery.nicescroll.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/clipboard.min.js"></script>

        <script type="text/javascript" src="__PUBLIC__/js/feeldesk.js"></script>

        <script type="text/javascript" src="__PUBLIC__/index/js/index.js"></script>
		
		<script type="text/javascript" src="__PUBLIC__/js/select2/select2.min.js"></script>

		<script type="text/javascript" src="__PUBLIC__/js/select2/jquery.core.js"></script>

	</head>

<body>