<include file="Public:ticketHeader" />

    <div class="fd-right-main">

        <div class="fd-body">

            <div class="fd-right-top clearfix">

                <span class="crumb fl">

                    <a href=""><block name="crumb1"></block></a>

                    <i class="layui-icon">&#xe623;</i>

                    <a class="black6"><block name="crumb2">{:CrmgetViewName()}</block></a>

                </span>

                <block name="rightHeader"></block>

            </div>

            <block name="content"></block>

        </div>

    </div>
