<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/App/ThinkPHP/Library/Predis/tests" />
        <option value="$PROJECT_DIR$/App/ThinkPHP/Library/Vendor/Qiniu/qiniu/php-sdk/tests" />
      </list>
    </option>
  </component>
</project>